<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 md-12 about_left">
                        <img class="d-block w-50 about_pic" src="images/my photo.jpg" alt="First slide">
                    </div>
                    <div class="col-md-6 md-12 about_right">
                        <p>Hello, myself <span>Srijita Mandal</span> </p>
                        <h3>Check out <span>My Portfolio</span></h3>
                        <a href="https://srijita-mandal.github.io/portfolio/" target="_blank"><button>VIEW</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

</body>
</html>