<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}
    
    <!-- ----main header---- -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="search">
                    <form class="search_form">
                        <input type="text" id="city" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                    </form>
                </div>
                <div class="content">
                    <div class="top_layer">
                        <p id="day">Wednesday</p>
                        <p id="date">04 May, 2022</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get output here</p>
                        <div class="temperature data_hide">
                            <p><span id="temp">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                        </div>
                        <h3><span id="description"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

        <script src="js/main.js"></script>
</body>
</html>